<h1>Learn how to program</h1>
<div class="welcomeWrapper">
  <h1>ahsdjasjd</h1>
<div>

<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
  <div class="container">
    <div class="naviHeader">
       <ul class="nav navbar-nav navbar-right">
         <li><a href="/sections">table of contents</a></li>
       </ul>
      </div>
  </div>
</nav>
